:root {
  font-size: 10px;
  --font-family-main: Arvo;

  --font-size-l: 2.4rem;
  --font-size-m: 2rem;

  --font-m: var(--font-size-m) var(--font-family-main);
  --font-l: var(--font-size-l) var(--font-family-main);

  //Размеры навбара и сайдбара
  --navbar-height: 6rem;
  --sidebar-width: 30rem;
  --sidebar-width-collapsed: 7rem;

  //Z - индексы
  --modalZIndex: 10;

  //Заливка фона
  --backgroundFill: rgba(0 0 0 / 60%);
}
