.Button {
  cursor: pointer;
}

.clear {
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 1rem 1.5rem;
  border: 0.1rem solid var(--bg-color);
  color: var(--bg-color);
  background: none;
}
